# Files ignored by GitHub
# updated: Thursday, September 25, 2025

# MacOS folder metadata
.DS_Store

# draft, sandbox, and image folders at any level
**/drafts
**/sandbox
**/images

# questions
**/questions
