# Files ignored by GitHub
# updated: Thursday, October 16, 2025

# MacOS folder metadata
.DS_Store

# ignored folders
**/concept-questions
**/drafts
**/images
**/questions
**/quiz
**/reference
**/reflect-review
**/sandbox